---
import { getCollection } from 'astro:content';
import Layout from '../../components/Layout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import marked from '../../utilities/marked';

const { post } = Astro.props;

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');

  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
---

<Layout>
  <div class="p-5 container-sm md:mx-auto">
    <div class="h-entry">
      <h1 class="text-4xl font-bold mb-1 p-name">
        {post.data.title}
      </h1>
      <a class="hidden u-url" href={post.slug}></a>

      <div>
        <FormattedDate date={post.data.publish_date} />
      </div>
      <div class="hidden dt-published">{post.data.publish_date}</div>
      <a
        rel="author"
        class="hidden p-author h-card"
        href="https://lukebouch.com">Luke Bouch</a
      >

      <div
        class="mt-5 e-content post-content"
        set:html={marked.parse(post.body)}
      />
    </div>
    <div class="mt-8">
      <a
        href="/posts"
        class="flex items-center justify-center gap-3 text-gray-900"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
        </svg>
        Posts
      </a>
    </div>
  </div>
</Layout>
